# SQLite local (desarrollo)
DATABASE_URL="file:./prisma/dev.db"

# Turso Cloud (producción)
# TURSO_DATABASE_URL="libsql://finowa.turso.io"
# TURSO_AUTH_TOKEN="tu-token-aqui"

AUTH_SECRET="cambiar-por-un-secreto-de-al-menos-32-caracteres"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
